name: NPM Publish

on:
  push:
    tags:
      # Бұл дұрыс: @scope/name@version форматын тыңдайды
      - '@*/*@*.*.*'

permissions:
  contents: read

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4


      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Tests (Recommended)
        run: pnpm test -r

      - name: Parse Package Name from Tag
        id: parse_tag
        run: |
          # Тегті аламыз (мысалы, '@sayyyat/react-query-conditional@0.0.1')
          TAG_NAME="${{ github.ref_name }}"
          
          # 'v' әрпін алып тастаймыз. Бұл "соңғы @ белгісінен бастап бәрін өшір" дегенді білдіреді
          PKG_NAME=$(echo "$TAG_NAME" | sed 's/@[0-9].*//')
          
          echo "PACKAGE_NAME=$PKG_NAME" >> "$GITHUB_OUTPUT"
          echo "Publishing: $PKG_NAME"

      - name: Build Package
        run: pnpm --filter "${{ steps.parse_tag.outputs.PACKAGE_NAME }}" build

      - name: Publish Package
        run: pnpm --filter "${{ steps.parse_tag.outputs.PACKAGE_NAME }}" publish --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}